<table id="product_dates_table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
