$('#mod-product_date-input .modal-content').replaceWith('<%=j render partial: 'product_date_index.html.erb', locals: { product: @product, title: "#{@product.name} days" } %>');

$('#product_dates_table').replaceWith('<%=j render partial: 'index.html.erb', locals: {} %>');

$('#mod-product_date-input').modal("show");

var table_data = [
  <% @product_dates.each do |product_date| %>
    <%= render partial: 'row.js.erb', locals: { product_date: product_date } %> ,
  <% end %>
];

$('#product_dates_table').DataTable({
  sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12'l>r>"+
    "t"+
    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
  autoWidth: false,
  data: table_data,
  pagingType: "simple",
  pageLength: 10,
  aaSorting: [],
  columns: [
    { data: 'number' },
    { data: 'title' },
    {
      data: 'actions',
      className: "text-center",
      orderable: false
    }
  ]
});

$("div#product_dates_table_length").after('<div class="text-right"><button id="new_product_date" class="btn btn-info margin-right-5">New day</button></div>' );

$( "#new_product_date" ).on('click', () => {
  call_ajax_by_url('<%= new_admin_product_product_date_path(@product) %>');
});
