<table id="locations_table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Chinese name</th>
      <th>English name</th>
      <th>Created on</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
