$('#mod-product_option-input .modal-content').replaceWith('<%=j render partial: 'product_option_index.html.erb', locals: { product: @product, title: "#{@product.name} options" } %>');

$('#product_options_table').replaceWith('<%=j render partial: 'index.html.erb', locals: {} %>');

$('#mod-product_option-input').modal("show");

var table_data = [
  <% @product_options.each do |product_option| %>
    <%= render partial: 'row.js.erb', locals: { product_option: product_option } %> ,
  <% end %>
];

$('#product_options_table').DataTable({
  sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12'l>r>"+
    "t"+
    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
  autoWidth: false,
  data: table_data,
  pagingType: "simple",
  pageLength: 10,
  aaSorting: [],
  columns: [
    { data: 'name' },
    {
      data: 'actions',
      className: "text-center",
      orderable: false
    }
  ]
});

$("div#product_options_table_length").after('<div class="text-right"><button id="new_product_option" class="btn btn-info margin-right-5">New option</button></div>' );

$( "#new_product_option" ).on('click', () => {
  call_ajax_by_url('<%= new_admin_product_product_option_path(@product) %>');
});
