<!-- MODAL PLACE HOLDER -->
<div class="modal fade" id="<%= id %>"  role="dialog" aria-labelledby="<%= id %>_label" aria-hidden="true">
  <div class="modal-dialog" style="width: 80%;">
    <div class="modal-content"></div>
  </div>
</div>
<!-- END MODAL -->
