<table id="products_table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slide images</th>
      <th>Options</th>
      <th>Days</th>
      <th>Created on</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
