/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require jquery-ui
 *= require_self
 *= require plugins/selectbox/select_option1
 *= require plugins/datepicker/datepicker
 *= require plugins/isotope/jquery.fancybox
 *= require plugins/isotope/isotope
 *= require star-style.css
 *= require star-default.css
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

.footer {
  a {
    color: #929497;
  }
  a:hover {
    color: #fff;
  }
}


.normal_list {
  padding-left: 20px;
  margin-bottom: 20px;
  li {
    margin: 10px;
  }
}

ul.normal_list li {
  list-style-type: circle;
}

.blogSinglePost {
  img {
    max-width: 100%;
  }
}

.checkbox_group {
  height: 45px;
  background-color: whitesmoke;
  box-shadow: none;
  border-color: #e5e5e5;

  label.title {
    color: #969696;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 20px;
    line-height: 45px;
  }

}
